.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.row{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.messageText{
  text-decoration: underline;
  font-weight: 800;
  transition: 1s;
}

header{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e0/Large_Scaled_Forest_Lizard.jpg');
  height:400px;
}

.messageText:hover{
  cursor: pointer;
  font-size: 18px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
